$raspberry: #CB275A;
$tangerine: #EFA936;
$aquamarine: #1BC49B;
$navy: #2D3E5D;
$gray: #9B9B9B;
$gray_light: #AEAEAE;

$aquamarine_bright: #00E9B8;

$raspberry_light: #F685A3;
$tangerine_light: #F7C879;
$aquamarine_light: #94DBC7;
$white: #FFFFFF;