@import "color.scss";
@import "mixins.scss";

body {
  background-color: $white;
}

header {
  @include one-edge-shadow;
  background-color: $white;
  height:90px;

  .header_logo img {
    height:60px;
    margin:15px;
  }

  nav, ul {
    height:90px;
    font-size:1.1em;

    li {
  
      height:40px;
      margin:25px 0;
      line-height:40px;

      a {
        color: $gray !important;
        padding:0 15px !important;
        font-weight:500;
      }
      a:hover {
        color: $tangerine !important;
      }
    }

  }

  .nav > li > a:hover,
  .nav > li > s a:focus {
    background-color: transparent !important;
  }

  li#login_action {
    font-size: 1.22em;
    border-left: 1px solid #ccc;

    a {
      font-size:1.2em;
      font-weight:900;
      color: $aquamarine !important;
    }
    a:hover {
      color: $aquamarine_bright !important;
    }
  }

}

footer {
  background-color: $navy;
  color: $white;
  width: 100%;
  font-size:1.3em;
  font-weight:500;
  line-height:2em;
  padding:10px;
  a {
    margin:0 15px;
    i.fa {
      font-size:1.5em;
    }
  }
  a:link,
  a:visited {
    color: $white !important;
  }
  a:active,
  a:hover {
    color: $aquamarine !important;
  }

}

section#joinUs {
    background-color: $navy;
    background-image: url('splash_filtered.jpg');
    background-size:cover;
    background-position-y: -100px;
    background-repeat: no-repeat;
    padding:200px 0 0 0;
    height:710px;
    .btn-raspberry {
      @include gradient-button($raspberry_light, $raspberry);
    }
}

section#whyJoin {
  background-color: $navy;
  color: $white;
  article {
    background-color: $navy;
    padding:0 100px 100px 100px;
    img {
      width:30%;
      margin:0 35%;
      text-align:center;
    }
  }
}

section#partners {
  article{
    text-align:center;
    img {
      height:75px;
      margin:0 0 100px 0;
    }
  }
}


.context {
  background-color: $navy;
  color: $white;
  margin: 0 auto;
  margin-bottom: 60px;
  width: 60%;
  font-size: 1.3em;
  padding: 20px;
  border-radius: 20px;
}

.context a {
  color: $tangerine;
}

.subject {
  color: $tangerine;
  margin-left: 150px;
}



 /*header*/

 .btn-default {
  background-color: $raspberry;
 }

 .btn-default:hover {
  background-color: $tangerine;
 }

 .btn-default a {
  color: #000;
 }

.btn-lg {
  padding: 30px;
  font-size: 30px;
}

.navbar {
  padding-top: 26px;
  background-color: #555;
  height: 140px;
}


.title {
  padding-top: 10px;
  padding-left: 40px;
}

.title p {
  color: $tangerine;
  font-size: 1.3em;
}

.header {
  padding-bottom: 40px;
}



.text-muted {
  color: $white;
}

.text-muted:hover {
  color: #add8e6;
}

/* index*/

.logo h1 {
  margin-bottom: 30px;
}

.second-footer {
  text-align: center;
  padding-top: 20px;
  background-color: $navy;
  color: $white;
}

.second-footer h1 {
  margin-bottom: 40px;
}

.section {
  vertical-align: text-top;
  width: 260px;
  text-align: center;
  display: inline-block;
  margin-right: 60px;
  margin-left: 90px;
  margin-bottom: 20px;
}

.section img {
  width: 141px;
  height: 141px;
}

.partners {
  text-align: center;
  margin-bottom: 60px;
}

.partners img {
  height: 170px;
}

.logo {
  text-align: center;
}

/*user show*/

.waitlist {
  color: $navy;
  width: 50%;
  margin: 0 auto;
}

.waitlist p {
  font-size: 1.3em;
}

.blog-main {
  display: inline-block;
  width: 70%;
}

.blog-sidebar {
  display: inline-block;
  vertical-align: top;
  background-color: $white;
  margin-right: 5px;
  margin-top: 50px;
  width: 20%;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid black;
}

.blog-sidebar a {
  color: $navy;
  padding: 5px;
}

/*user edit*/

.field_with_errors {
  width: 15px;
  display: inline-block;
}

input,select {
  color: #000;
}

.interests {
  margin-left: 10%;
  margin-bottom: 20px;
}

.interests div {
  display: inline-block;
}

.check {
  vertical-align: top;
  margin-right:20px;
  margin-bottom: 10px;
  width: 150px;
}

.context h4 {
  font-weight: bold;
}

.context span {
  font-weight: bold;
}

/* request mentor*/

 .wrapper {
    overflow: auto;
    height: 110%;
}

.mentor {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  background-color: $navy;
  color: $white;
  padding: 40px;
  border-radius: 10px;
  font-size: 1.3em;
  margin-bottom: 120px;
}

.mentor h4 {
  font-weight: bold;
  font-size: 22px;
}

.mentor p {
  font-size: 16px;
}

.mentor li {
  list-style-type: none;
}
